.wrapper {    
    width: 300px;
    margin: auto;
}
.text-center{
text-align: center;
}
.dark-background {
    background-color:#1F7A8C;
}
body {
    background-color: #E1E5F2
}

main{
    text-align: center;
    
}
ul {
    list-style-position: inside
}

  header {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  footer {
      text-align: center;
  }